<IfModule mod_rewrite.c>
RewriteEngine On
# Options +FollowSymlinks
RewriteBase /threadsv21/
# Location of your system on the server.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /threadsv21/index.php [L]
</IfModule>